
body, html {
    height:100%;
}

body {
    background:#bfbfbf none;
    color:#424242;
    font-family: sans-serif;
    font-size:100%;
    font-size:0.8em;
    overflow:hidden;
    padding:0px;
    outline:none;
}
body.overflow {
    overflow:visible;
    background-color: #282f36;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a {
    color:#b79952;
    text-decoration:none;
}
a:hover:not(.btn) {
    color:#b79952;
    text-decoration:none;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#sidebar-reverse .go-back, #article-header .close {
    overflow:hidden;
    text-indent:-1000px;
}

/* BOOTSTRAP OVERRIDE */
.form-actions {
    background:transparent;
    padding-left:0;
    padding-right:0;
    margin-bottom:0px;
    padding-bottom:0px;
}
.form-actions.form-actions-mini {
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:5px 0px 0px 0px;
}
select[multiple] {
    height:200px;
}
.dropdown-menu, .btn-group>.btn:first-child, .btn-group>.btn:last-child, .btn-group>.dropdown-toggle, .btn, .modal, .alert, .progress, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .well, .table-bordered, .table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child, .table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tbody:last-child tr:last-child>th:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>th:first-child, .table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tbody:last-child tr:last-child>th:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>th:last-child {
    border-radius:0px;
}
.alert {
    text-shadow:none;
}
.table th {
    background-color:#eaeaea;
}
.table td.text-right {
    text-align:right;
}
.table td.text-center {
    text-align:center;
}
.well {
    position:relative;
    padding-top:40px;
}
.well > header {
    position:absolute;
    left:0px;
    top:0px;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding:5px 40px;
    font-weight:bold;
    background-color:#eaeaea;
}
.well.closed {
    background-color:#eaeaea;
    padding:0;
}
.well.closed * {
    display:none;
}
.well.closed header {
    display:block;
    position:relative;
    border:0;
    padding:5px 10px;
}
.widget {
    position:relative;
}
.widget > .btn-toolbar.header {
    margin:0;
    position:absolute;
    top:5px;
    right:5px;
}
.widget > .btn-toolbar.header .btn{
    margin-top:0px;
}
.widget.collapsed {
    height:0px;
    min-height:0px;
    overflow:hidden;
    padding-bottom:0px;
}
.btn-toolbar {
    margin-top:0px;
}
.btn-toolbar .btn {
    margin-top:10px;
}
ul.inline.gallery {
    border:1px solid #ccc;
    padding:10px;
}
ul.inline.gallery li {
    width:150px;
    border:1px solid #ccc;
    text-align:center;
    vertical-align:middle;
    padding:5px;
    margin:5px;
}
ul.inline.gallery li img {
    border:1px solid #ccc;
}

/* JQUERY OVERRIDE */
ul.ui-droppable {
    min-height:100px;
}
.well ul.ui-droppable {
    background-color:#bfbfbf;
    padding:10px;
}



/* MODERNIZR */
input[type=text].placeholder {
    color:#aaa;
}

/* BLOCK TABLE */
.block-table {
    display:table;
}
.block-table.block-table-full {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.block-table-caption {
    display: table-caption
}
.block-table-row {
    display:table-row;
}
.block-table-cell, .block-table-cell-center {
    display:table-cell;
    vertical-align:top;
}
.block-table-cell-center {
    vertical-align:middle;
}

/* BLOCK CONTENT */
.block-content {
    border:1px solid #ddd;
    padding:15px;
}

/* FORMS */
input.error, textarea.error, select.error {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* LOADING */
#loading {
    display:none;
    position:absolute;
    bottom:-500px;
    left:50%;
    margin-left:-200px;
    width:400px;
    padding:10px 20px;
    background-color: #282f36;
    border:1px solid #b79952;
    border-bottom:0;
    color:#b79952;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
}
#loading .img {
    display:block;
    margin:0 auto;
}
#loading .title {
    display:block;
    text-align:center;
    margin-top:10px;
}
.loading #loading {
    display:block;
    bottom:0px;
}
.loading a, .loading input, .loading button {
    pointer-events: none;
    cursor: default;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* HEADER */
#header {
    background:#282f36 url('../img/iceberg_logo.png') no-repeat 30px 20px;
    color:#fff;
    height:80px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    padding-left:150px;
    padding-right:20px;
}
#header h1 {
    margin:0;
}
#header .brand {
    display:block;
    max-height:100%;
}
#header .btn-toolbar {
    margin:25px 0px 0px 0px;
}

/* CONTAINER */
#container {
    position:absolute;
    top:80px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    overflow-y:scroll
}

/* SIDEBAR */
#sidebar {
    width:150px;
    background:#282f36 none;
    color:#b79952;
}
#sidebar-reverse {
    height:115px;
    background:#857448 url('../img/iceberg_logo.png') no-repeat 30px -60px;
    position:relative;
}
#sidebar-reverse .go-back {
    display:block;
    width:65px;
    height:65px;
    background:transparent url('../img/sidebar_back.png') no-repeat center center;
    position:absolute;
    top:25px;
    left:50%;
    margin-left:-32.5px;
}
#sidebar nav {
    margin:0;
    padding:30px 0px;
}
#sidebar nav .option {
    display:block;
    background:#15191d none;
    color:#fff;
    padding:10px;
    text-align:center;
    text-decoration:none;
    margin:0 0 10px 0;
}
#sidebar nav a.option:hover, #sidebar nav .option.active {
    background-color:#b79952;
}
#sidebar nav .option img {
    display:block;
    width:70px;
    height:60px;
    margin:0 auto 10px auto;
}
#footer {
    font-size:0.8em;
    padding:10px 0px;
    text-align:center;
    color:#b79952;
    background:#282f36 none;
}

/* LOGIN */
.form-login-container {
    max-width:500px;
    margin: 0px auto 0px auto;
    padding: 30px 0px 30px 0px;
}
.form-login {
    color: #b79952;
    background-color: #282f36;
    /*border: 1px solid #b79952;*/
    padding:50px;
}
.form-login-heading {
    text-align:center;
    margin:0px 0px 20px 0px;
}

/* ARTICLE */
#article {}
#article-header {
    background:#b79952 none;
    color:#fff;
    padding: 30px 80px 30px 20px;
    margin:0;
    height: 55px;
    position: relative;
}
#article-header a {
    color:#fff;
}
#article-header h1 {
    margin:0;
    font-size:2em;
    line-height:1.2em;
}
#article-header h2.breadcrumb {
    margin:0;
    font-size:1.3em;
    line-height:1.2em;
    background:transparent none;
    padding:0;
    font-weight:normal;
}
#article-header h2.breadcrumb span {
    font-weight:bold;
}
#article-header .close {
    display: block;
    position: absolute;
    top: 37.5px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: transparent url('../img/header_close.png') no-repeat center center;
}
#article-content {
    padding:30px;
    /*overflow:hidden;*/
}


/* TE */
.gmap {
    width:100%;
    height:400px;
}
.gmap img {
    max-width:none;
}

/* MEDIA QUERIES */
@media (min-width: 1200px)
{
    #header {
        background-position:80px 20px;
        
    padding-left:250px;
    }
    #sidebar {
        width:250px;
    }
    #sidebar-reverse {
        background-position:80px -60px;
    }
}

@media (max-width: 1024px)
{
}

@media (max-width: 979px)
{
}

@media (max-width: 767px)
{
}




